@reset-global pc;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

li { 
  margin-bottom: 60px; /* отступ между элементами списка */
  color: #bdb8d7;
  padding: 15px; /* при наведении на элемент рамка больше */
    &:hover{
            background-color: #594f8d;
            color:white;
            border-radius: 5px;
        }
 
}

