header {

}

.portfolio-item__info{ /* отвечает за все картинки */
    display:flex;
  justify-content: center; 
  position: absolute;
  left: 430px;
  
    }

.portfolio-item__info{ /* отвечает за пары картинок */
    &-images{
  display:flex;
  flex-direction: column;
}
}

.column__item{ /* отвечает за каждую картинку отдельно */
  margin: 15px;
}
